@keyframes ani {
  from {background-color: darkgray;}
  to {background-color: gray;}
}
body {
  color: white;
  animation: ani 4s infinite;
  animation-direction: alternate-reverse;
}
img {
  width: 100%;
}
