@keyframes ani {
  from {background-color: #6E6E6E;}
  to {background-color: #363636;}
}
body {
  animation: ani 4s infinite;
  animation-direction: alternate-reverse;
}
h2 {
  font-size: 30px;
  color: #966F5D;
}
h1 {
  font-size: 35px;
  color: #50C878;
}
a {
  font-size: 22px;
)
