body {
  color: black;
  background-color: lightgreen;
  font-family: 'Brush Script MT';
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 22px;
}
#rus {
  font-size: 25px;
}
h4 {
  font-size: 30px;
}
h4:hover {
  background-color: orange;
}
a {
  font-size: 26px;
}
