body {
  color: black;
  background-color: lightgreen;
  font-family: 'Brush Script MT';
}
h1 {
  font-size: 41px;
}
h2 {
  font-size: 37px;
}
h3 {
  font-size: 33px;
}
h4 {
  font-size: 29px;
}
h4:hover {
  background-color: orange;
}
